@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Inter", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.croll-hideen {
   scrollbar-width: none;

}
.arrow-up {
  content: '';
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  
  border-bottom: 8px solid black;
}
#slide .slick-prev  {
  left: 25px;
  z-index: 2;
}
#slide .slick-next {
  right: 25px;
  z-index: 2;

}
#slide .slick-slide {
  opacity: 0.5;
}
#slide .slick-slide.slick-active {
  opacity: 1;
}
.slick-track .slick-slide > div {
  margin-right:20px;
}

/* .slick-list {
  margin: 0 -30px;
} */
#chart-last-days {
 max-width: 164px;
 pointer-events: none;
 margin-block: -34px;
}
.pagination li a{
 padding: 8px 16px;
 color: rgb(88,102,126);
 background: rgba(0,0,0,.04);
 border-radius: 6px;
 font-weight: 700;
 font-size: 14px;
 transition: 0.3s;
 display: flex;
}
.pagination ul:first-child,
  .pagination ul:last-child{
    align-self: stretch;
  
}
.pagination li.selected a{
  background: rgb(56,97,251);
  color: white;
}
.pagination li.disabled {
  opacity: 0.5;
}
.pagination li.disabled a{
  cursor: not-allowed;
}
#description a{
  color: rgba(33,33,33,0.9);
}
#description a:hover{
  color: rgb(56,97,251);
}
/* Mobile */
@media only screen and (max-width: 600px) {
  .slick-track .slick-slide > div {
    margin-right:0;
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1.154;
  position: relative;
  background: conic-gradient(from 120deg at 50% 64%,#0000, rgb(56,97,251) 1deg 120deg,#0000 121deg);
  animation: l27-0 1.5s infinite cubic-bezier(0.3,1,0,1);
}
.loader:before,
.loader:after {
  content:'';
  position: absolute;
  inset:0;
  background:inherit;
  transform-origin: 50% 66%;
  animation: l27-1 1.5s infinite;
}
.loader:after {
  --s:-1;
}
@keyframes l27-0 {
   0%,30%      {transform: rotate(0)}
   70%         {transform: rotate(120deg)}
   70.01%,100% {transform: rotate(360deg)}
}
@keyframes l27-1 {
   0%      {transform: rotate(calc(var(--s,1)*120deg)) translate(0)}
   30%,70% {transform: rotate(calc(var(--s,1)*120deg)) translate(calc(var(--s,1)*-5px),10px)}
   100%    {transform: rotate(calc(var(--s,1)*120deg)) translate(0)}
}
#content > span{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#content h3{
  font-size: 20px;
  line-height: 1.3;
  font-weight: 600;
}
#content p{
  font-size: 16px;
  line-height: 1.5;
}